= simple_form_for @recipe, :html => { :class => 'form-horizontal', :form_for => 'recipe' } do |f|
  = f.error_notification
  = f.input :name
  = f.input :preparation_time, collection: Recipe::TIMES

  %span{:class=>("has-error" if @recipe.errors[:ingredients].present?)}
    = f.label :ingredients,{class: 'form-group standalone-label control-label'}
    %span#ingredients.form-group

  %br
  %span{:class=>("has-error" if @recipe.errors[:steps].present?)}
    = f.label :steps,{class: 'form-group standalone-label control-label'}
    %span#steps.form-group
  %br

  = f.button :submit, :class => 'btn-primary'
  - redirect_path = @recipe.new_record? ? root_path : recipe_path(@recipe)
  = link_to t('.cancel', :default => t("helpers.links.cancel")), redirect_path, :class => 'btn btn-default'

:coffeescript
  $ ->
    new Ingredients('span#ingredients',#{@recipe.ingredients},#{@recipe.errors[:ingredients]})
    new Steps('span#steps',#{@recipe.steps},#{@recipe.errors[:steps]})