= simple_form_for @recipe, :html => { :class => 'form-horizontal' } do |f|

  = f.input :preparation_time, collection: Recipe::TIMES
  = f.error_span :preparation_time

  = f.label :ingredients,{class: 'form-group standalone-label'}
  %span#ingredients.form-group
  %br
  = f.label :steps,{class: 'form-group standalone-label'}
  %span#steps.form-group
  %br

  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), recipes_path, :class => 'btn btn-default'

:coffeescript
  $ ->
    new Ingredients('span#ingredients')
    new Steps('span#steps')