- model_class = Recipe
%div
  #recipe_head
      
    #recipe_head_title
      %h1=t '.title', :default => @recipe.name
      ="Recipe by #{@recipe.chef.user.email}"

    #recipe_head_body    
      .well
        = simple_form_for @recipe do |f|
          = f.input :taste, as: :stars, read_only: true
          = f.input :ease_of_preparation, label: 'Easy', as: :stars, read_only: true

    - if @recipe.images.present?
      %img{src: @recipe.images.last,alt: @recipe.name,class: 'recipe-head-block-image'}


%h3= model_class.human_attribute_name(:ingredients)

- @recipe.ingredients.each_with_index do |ingredient,index|
  %span.ingredient
    = "#{index+1}. #{ingredient}"
    %br

%h3= model_class.human_attribute_name(:steps)

- @recipe.steps.each_with_index do |step,index|
  .step
    %div.line_number= "#{index+1}."
    %div

      =raw(step)

- if user_signed_in? && current_user.chef.present? && current_user.chef.id == @recipe.chef_id
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_recipe_path(@recipe), :class => 'btn btn-default'
