- model_class = Recipe
%h1=t '.title', :default => @recipe.name #:default => model_class.model_name.human.titleize
="Recipe by #{@recipe.chef.user.email}"
%br
%br
%div
  
  .well
    = simple_form_for @recipe do |f|
      / %h4= "taste"
      = f.input :taste, as: :stars, read_only: true
      = f.input :difficulty, as: :stars, read_only: true

  %h3= model_class.human_attribute_name(:ingredients)

  - @recipe.ingredients.each_with_index do |ingredient,index|
    %span.ingredient
      = "#{index+1}. #{ingredient}"
      %br

  %h3= model_class.human_attribute_name(:steps)

  - @recipe.steps.each_with_index do |step,index|
    .step
      %div.line_number= "#{index+1}."
      %div
        / = simple_format(step)
        =raw(step)
  / %p
  /   %strong= model_class.human_attribute_name(:chef_id) + ':'
  /   %br
  /   = @recipe.chef_id
  / %p
  /   %strong= model_class.human_attribute_name(:ingredients) + ':'
  /   %br
  /   = @recipe.ingredients
  / %p
  /   %strong= model_class.human_attribute_name(:steps) + ':'
  /   %br
  /   = @recipe.steps
  / %p
  /   %strong= model_class.human_attribute_name(:preparation_time) + ':'
  /   %br
  /   = @recipe.preparation_time
  / %p
  /   %strong= model_class.human_attribute_name(:ease_of_preparation) + ':'
  /   %br
  /   = @recipe.ease_of_preparation
  / %p
  /   %strong= model_class.human_attribute_name(:taste) + ':'
  /   %br
  /   = @recipe.taste
  / %p
  /   %strong= model_class.human_attribute_name(:images) + ':'
  /   %br
  /   = @recipe.images

/ = link_to t('.back', :default => t("helpers.links.back")), recipes_path, :class => 'btn btn-default'

= link_to t('.edit', :default => t("helpers.links.edit")), edit_recipe_path(@recipe), :class => 'btn btn-default'
/ = link_to t('.destroy', :default => t("helpers.links.destroy")), recipe_path(@recipe), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
